<app-video-layer [height]="broadcastService.windowWidth"></app-video-layer>

<app-canvas-layout *ngIf="broadcastService.streamStarted()"
                   [height]="broadcastService.windowWidth"
                   [width]="broadcastService.windowWidth"></app-canvas-layout>

<div #dots
     [hidden]="!broadcastService.streamStarted()"
     class="dots">
  <div #window
       [style.height.px]="broadcastService.windowWidth"
       [style.left.px]="broadcastService.windowCords.x"
       [style.top.px]="broadcastService.windowCords.y"
       [style.width.px]="broadcastService.windowWidth"
       class="window">

  </div>
</div>
