<div aria-hidden="true" class="bg">
  <img alt="Creamier" loading="lazy" src="./bg.png">
</div>
<section class="layout">
  <header class="layout__header">
    <section *ngIf="gameService.hasStarted" @slideDown class="life">Life: {{ lifeService.life() }}</section>
  </header>
  <main class="layout__canvas">
    @if (showAlreadyWin) {
      alreadyWon: {{ gameService.alreadyWon() }}
    }
    @if (supports) {
      @if (displayEnableButton) {
        <button
          [disabled]="!readyToEnable"
          (click)="onButtonClick()"
          class="enableCamButton">
          <!--        {{-->
          <!--          readyToEnable-->
          <!--            ? 'Enable \nWebcam'-->
          <!--            : 'Wait \nbitch'-->
          <!--        }}-->

          <img alt="" loading="lazy" src="./drake.png">
        </button>
      }

      <app-broadcast></app-broadcast>
    } @else {
      <p class="noSupport">
        Ohh shit! I'm done, i cannot take it
      </p>
    }
  </main>
  <footer class="layout__footer">
    <section *ngIf="gameService.hasStarted" @slideUp class="score">Score: {{ scoreService.score() }}</section>
  </footer>
</section>