/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
}


h1 {
  font-style: italic;
  color: #FF6F00;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}
